merra_starter.ipynb
merra_wind_test.csv
cutout_test2.ipynb
*~
*.py[cod]
.~*
.DS_Store
__pycache__
doc/_build/
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


output/
outputs
.ipynb_checkpoints/

geodata/merra_starter.ipynb
era5_starter.ipynb
trim/

geodata/config.py

hidden_tests/