merra_starter.ipynb
merra_wind_test.csv
cutout_test2.ipynb
*~
*.py[cod]
.~*
.DS_Store
__pycache__
doc/_build/
build/
dist/

output/
outputs
.ipynb_checkpoints/

geodata/merra_starter.ipynb
era5_starter.ipynb
trim/

geodata/config.py

hidden_tests/