[MESSAGES CONTROL]
disable=C0103,C0116,C0115,C0209,W0105,W0511,C0114 #disable Missing-function-docstring warning

[FORMAT]
indent-string='\t'
max-line-length=180
max-module-lines=1500


[DESIGN]
# Maximum number of arguments for function / method
max-args=7
# Maximum number of attributes for a class (see R0902).
max-attributes=15